<h1>User info</h1>
<% if user && user.profile_image.attached? %>
 <%= image_tag user.profile_image, size: "200x200" %>
<% else %>
 <%= image_tag 'no_image', size: "200x200" %>
<% end %>


<table>
  <h3>name  <%= user && user.name %></h3>
  <h3>introduction<%= user && user.introduction %></h3>
</table>

<%= link_to "edit", user && edit_user_path(user.id) %>
