<div class= "container">
 <div class= "row">
  <div class="mt-3 mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
   <h2>User info</h2>
    <%= form_with model: @user, local:true do |f| %>
     <label for="inputName">Name</label>
     <p><%= f.text_field :name, id:"inputName" %></p>
     <label for="inputImage">Image</label>
     <p><%= f.file_field :profile_image, accept: "image/*" %></p>
     <label for="inputIntroduction">Introduction</label>
     <p><%= f.text_field :introduction, id:"introduction" %></p>
    <%= f.submit "Update User", class: "btn btn-secondary btn-sm mt-2 mb-2"%>
    <% end %>
  </div>
 </div>
</div>